<div id="mainHero">
    <div id="left">
        <div id="imgDiv">
            <img id="me" src="../assets/me.png">
        </div>
        <div id="aboutDiv">
            <div id="tittle"><h1>Sobre mi...</h1></div>
            <div class="text"><h2>Soy un desarrollador web Full Stack en búsqueda de la oportunidad de aportar mi talento a tu empresa.</h2></div>

            <div class="button-container">
                <div class="link">
                    <button onclick="window.open('www.linkedin.com/in/davidgdev', '_blank', 'noopener noreferrer')">
                        <img id="icon" src="../assets/icons/link.png" alt="Logo de Linkedin">
                        <p>Linkedin</p>
                    </button>
                </div>

                <div class="link">
                    <button onclick="window.open('www.github.com/DirtdiverIV', '_blank', 'noopener noreferrer')">
                        <img id="icon" src="../assets/icons/github.png" alt="Logo de Linkedin">
                        <p>GitHub</p>
                    </button>
                </div>

                <div class="link">
                    <button onclick="window.open('www.linkedin.com/in/davidgdev', '_blank', 'noopener noreferrer')">
                        <img id="icon" src="../assets/icons/email.png" alt="Logo de Linkedin">
                        <p>Email</p>
                    </button>
                </div>

                <div class="link">
                    <button onclick="window.open('www.linkedin.com/in/davidgdev', '_blank', 'noopener noreferrer')">
                        <img id="icon" src="../assets/icons/phone.png" alt="Logo de Linkedin">
                        <p>Telefono</p>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
