<div id="mainHero">
    <div id="left">
        <div id="aboutDiv">
           
            <div class="list" >
                <div class="title" id="tools"><h1>Herramientas:</h1></div>
                <ul>
                    <li>Bootstrap</li>
                    <li>Material</li>
                    <li>Postman</li>
                    <li>XAMPP</li>
                    <li>Jasmine</li>
                    <li>Node.js</li>
                    <li>Docker</li>
                    <li>AWS</li>
                </ul>
            </div>
            <div class="list" >
                <div class="title" id="lang"><h1>Lenguajes:</h1></div>
                <ul>
                    <li>HTML5</li>
                    <li>Sass/CSS3</li>
                    <li>JavaScript</li>
                    <li>TypeScript</li>
                    <li>Java</li>
                    <li>SQL</li>
                    <li>PHP</li>
                </ul>
            </div>
            <div class="list" >
                <div class="title" id="colab"><h1>Colaboración:</h1></div>
                <ul>
                    <li>GitHub</li>
                    <li>Jira</li>
                    <li>Figma</li>
                    <li>Slack</li>
                    <li>Confluence</li>
                    <li>Trello</li>
                </ul>
            </div>
            <div class="list" >
                <div class="title" id="frameworks"><h1>Frameworks:</h1></div>
                <ul>
                    <li>Angular</li>
                    <li>Spring Boot</li>
                    <li>Firebase</li>
                    <li>Laravel</li>
                </ul>
            </div>
            
            <div class="list" >
                <div class="title" id="others"><h1>Otros:</h1></div>
                <ul>
                    <li>Game Dev</li>
                    <li>Pixel Artist</li>
                    <li>UNIX</li>
                </ul>
            </div>
        </div>
    </div>
</div>