
body {

    color: #A7DBD8;
    color: #BAFCA2;
    color: #C4A1FF;
    color: #87CEEB;
    color: #90EE90;
    color: #A388EE;
    color: #B5D2AD;
    color: #DAF5F0;
    color: #E3A018;
    color: #E3DFF2;
    color: #F4D738;
    color: #F8D6B3;
    color: #FCDFFF;
    color: #FFB2EF;
    color: #FFA07A;
    color: #FFDB58;
    color: #FF69B4;
    color: #FF6B6B;
    color: #9723C9;
    color: #7FBC8C;
    color: #69D2E7;

}